body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.wrap-control {
  text-align: center;
}

select {
  min-width: 220px;
  margin: 0 20px 10px;
}

#canvas {
  border: 1px solid #000;
}